/venv/
/venvx/
/idea/
/.idea/
/dist/
/.dist/
/build/
/process_files/
/webdrivers/drivers/
/workflow/logs/
chromedriver.exe
/files/
/workflow/__pycache__/
/utils/__pycache__/
/apps/__pycache__/
call_drop_rebate.spec
call_drop_rebate_312023.exe
call_drop_rebate_send_sms312023.exe
call_drop_rebate_send_sms.spec
/logs/
/reports/
/workflow/reports/